:root {
    --cor-principal: #0f58543f;
    --cor-secundaria: #81769d; 
}

nav {
    max-width: 350px;
    width: 100%;
    background-color: aquamarine;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    border-bottom: 1px solid var(--cor-secundaria);
}

nav ul li a {
    background-color: var(--cor-principal);
    color: white;
    padding: 10px;
    display: block;
    text-decoration:none;
    transition: background .6s;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}